[submodule "cRTF"]
	path = cRTF
	url = https://github.com/igkuzm/cRTF
[submodule "ezxml"]
	path = ezxml
	url = https://github.com/lxfontes/ezxml
[submodule "zip"]
	path = zip
	url = https://github.com/kuba--/zip
